doctype html
html.no-js(lang='pt-br')
    head
        meta(charset='utf-8')
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Politicalizando :: Porque política também se discute
        link(rel='apple-touch-icon', href='apple-touch-icon.png')
        // build:css styles/vendor.css
        // bower:css
        link(rel='stylesheet', href='/bower_components/Materialize/bin/materialize.css')
        // endbower
        // endbuild
        // build:css styles/main.css
        link(rel='stylesheet', href='styles/main.css')
        // endbuild
        // build:js scripts/vendor/modernizr.js
        script(src='/bower_components/modernizr/modernizr.js')
        // endbuild
    body
        <!--[if lt IE 10]>
        p.browserupgrade You are using an #[strong outdated] browser.
        | Please #[a(href='http://browsehappy.com') upgrade your browser] to improve your experience.
        <![endif]-->

        block content

        // build:js scripts/vendor.js
        // bower:js
        script(src='/bower_components/jquery/dist/jquery.js')
        script(src='/bower_components/Materialize/bin/materialize.js')
        // endbower
        // endbuild
        // build:js scripts/main.js
        script(src='scripts/main.js')
        // endbuild
